<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile">

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="WH EATS"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <!-- 앱 최초 실행 화면 -->
        <activity
            android:name=".ui.storelist.StoreListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 가게 상세 화면 -->
        <activity android:name=".ui.storedetail.StoreDetailActivity" />

        <!-- 장바구니 화면 -->
        <activity android:name=".ui.cart.CartActivity" />

        <!-- 주문 화면 -->
        <activity android:name=".ui.order.OrderActivity" />

        <!-- 점주 대시보드 (딥링크 취약점 진입점) -->
        <activity
            android:name=".ui.owner.OwnerDashboardActivity"
            android:exported="true">

            <!-- deliveryapp://owner/dashboard?storeId=... 로 접근 가능 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="deliveryapp"
                    android:host="owner"
                    android:path="/dashboard" />
            </intent-filter>
        </activity>

        <!-- 마이페이지 -->
        <activity android:name=".ui.mypage.MyPageActivity" />

        <!-- 영수증 화면 -->
        <activity android:name=".ui.receipt.ReceiptActivity" />


    </application>

</manifest>
